.main-window {
    height: 100%;
    flex: 1;
    display: inline-flex;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.top-bar {
    width: 100%;
    height: 50px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.current-fans {
    height: 50px;
    line-height: 50px;
    display: inline-flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    -webkit-user-select: none;
}

.current-avatar {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
}

.fans-title {
    height: 30px;
    line-height: 30px;
    margin: 10px 5px 10px 0;
    font-size: 16px;
    font-weight: bold;
    border-top: #2c3e50 1px dashed;
    border-bottom: #2c3e50 1px dashed;
}

.fans-pointer {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.fans-number {
    font-family: LCD, serif;
    font-size: 22px;
    min-width: 50px;
    height: 30px;
    line-height: 50px;
    margin: 10px 10px 10px 5px;
    border-radius: 6px;
    background: #2c3e50;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    letter-spacing: 2px;
    text-align: center;
}

.current-compare {
    font-family: LCD, serif;
    min-width: 100px;
    width: auto;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    background: white;
}

.refresh-window-btn-box {
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: calc(100% - 45px);
    border-radius: 8px;
    border: #2c3e50 1px solid;
    transition: all .2s linear;
}

.refresh-window-btn-box:hover {
    color: white;
    background: #2c3e50;
}

.refresh-window-btn {
    width: 20px;
    height: 20px;
    transition: all .2s linear;
}

.chart-box {
    min-width: 98%;
    width: 98%;
    max-width: 98%;
    min-height: calc(100% - 10px - 50px - 2px - 1px);
    max-height: calc(100% - 10px - 50px - 2px - 1px);
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: #2c3e50 1px solid;
}

.chart-top-bar {
    width: 98%;
    max-width: 98%;
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.follower-btn, .live-btn {
    min-width: 50px;
    width: auto;
    max-height: 70px;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    border: #2c3e50 1px solid;
    padding: 0 5px;
    user-select: none;
    cursor: pointer;
    transition: all .2s linear;
}

.follower-btn:hover, .live-btn:hover {
    background: #2c3e50;
    color: white;
}

.main-window-line {
    width: 100px;
    height: 1px;
    border-bottom: #2c3e50 1px dashed;
    margin: 10px 10px 10px calc((100% - 50% + 160px) * -1);
}

.chart-scroll {
    width: 100%;
    min-height: calc(100% - 50px - 10px - 20px);
    max-height: calc(100% - 50px - 10px - 20px);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fans-chart {
    width: 96%;
    max-width: 96%;
    min-height: calc(100% - 50px - 10px);
    height: auto;
    border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    opacity: 0;
}

.live-chart {
    width: 96%;
    max-width: 96%;
    min-height: calc(100% - 50px - 10px);
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    overflow: hidden;
    opacity: 0;
}

.live-chart-top, .live-chart-bottom {
    width: 100%;
    height: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.live-cover {
    width: 90%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
    transition: src .2s linear;
}

.live-title-box {
    width: 100%;
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.live-is-stream {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: calc((30px - 8px) * .5);
    display: inline-block;
    float: left;
    background: #d04748;
    transition: all .2s linear;
}

.live-title {
    min-width: 150px;
    max-width: 230px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    display: inline-block;
    float: left;
    font-weight: bold;
}

.live-area {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

.rec-btn-container {
    width: 100%;
    height: 20px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder;
    user-select: none;
}

.rec-btn {
    width: 40px;
    height: 16px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #6eb025;
    margin: 10px;
    transition: all .2s linear;
}

.rec-btn-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border: #2c3e50 1px solid;
    transition: all .2s linear;
}

.rec-btn-dot:hover {
    box-shadow: rgba(44, 62, 80, 0.8) 0 0 3px 1px;
}

.chart-top-btn-active {
    background: #2c3e50;
    color: white;
}

.fans-card {
    min-width: 90%;
    max-width: 90%;
    min-height: 70px;
    max-height: 70px;
    border-radius: 10px;
    border: #2c3e50 1px solid;
    transition: all .2s linear;
}

.fans-card-date {
    width: 100px;
    height: 25px;
    border-radius: 6px;
    background: #2c3e50;
    color: white;
    text-align: center;
    line-height: 25px;
    margin: 5px 3px;
    user-select: none;
    display: inline-block;
    float: left;
}

.fans-card-date-icon {
    width: 16px;
    height: 16px;
    transform: rotateY(180deg);
    margin: 15px 0 2px 0;
    display: inline-block;
    float: left;
}

.fans-card-number {
    font-family: LCD, serif;
    min-width: 140px;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0 70px;
    padding: 0 10px;
    display: inline-block;
    float: left;
    background: white;
    letter-spacing: 1px;
}

.match-line {
    width: 320px;
    height: 1px;
    border-bottom: #2c3e50 1px dashed;
    margin-top: 15px;
    margin-left: 150px;
}

.fans-card-compare {
    font-family: LCD, serif;
    min-width: 100px;
    width: auto;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    float: right;
    margin: -16px 10px;
    padding: 0 10px;
    overflow: hidden;
    background: white;
}

.compare-pointer {
    width: 16px;
    height: 16px;
    margin: 7px;
    display: inline-block;
    float: left;
}