.setting-window {
    height: 100%;
    flex: 1;
    display: inline-flex;
    background: white;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-start;
    position: relative;
}

.setting-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    text-indent: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    user-select: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.setting-title-line {
    width: 120px;
    height: 1px;
    border-bottom: #2c3e50 dashed 1px;
    background: transparent;
    margin-left: 20px;
}

.setting-sub-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
    font-size: 16px;
    text-align: left;
    user-select: none;
    margin-top: 20px;
    margin-left: 40px;
    border-left: #2c3e50 3px solid;
}

.setting-block {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;
    gap: 10px;
}

.record-path {
    width: 50%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 8px;
    border: #2c3e50 solid 1px;
}

.select-record-path-btn {
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;
    background: #2c3e50;
    color: white;
}

.update-btn {
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-radius: 8px;
    background: #2c3e50;
    color: white;
}

.current-version {
    width: auto;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border: #2c3e50 solid 1px;
    user-select: none;
}

.new-version-message {
    background: white;
    color: #2c3e50;
    font-weight: bold;
    cursor: default;
    border: #2c3e50 solid 1px;
}

.download-btn {
    background: #2c3e50;
    color: white;
    border: none;
    font-weight: normal;
}

.github-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.github-text {
    width: 0;
    height: 30px;
    text-align: left;
    text-indent: 10px;
    font-weight: bold;
    line-height: 30px;
    position: absolute;
    margin-top: -30px;
    margin-left: 30px;
    user-select: none;
    cursor: default;
    transition: width .3s linear;
    overflow: hidden;
}

.github-btn:hover .github-text {
    width: 180px;
    border-right: #2c3e50 3px solid;
}

.btn-hover {
    transition: all .2s linear;
}

.btn-hover:hover {
    filter: drop-shadow(0 0 5px #2c3e50);
}

.close-setting {
    width: 120px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 60px;
    background: #2c3e50;
    color: white;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: auto;
}