.side-bar {
    height: 100%;
    width: 200px;
    display: inline-flex;
    flex-direction: column;
    background: white;
    /*justify-content: center;*/
    align-items: center;
    border-right: 1px #2c3e50 solid;
}

.title {
    width: 100%;
    height: 30px;
    position: relative;
    text-align: left;
    text-indent: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-user-select: none;
}

.title .title-text {
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-indent: -5px;
    font-size: 14px;
    border-top: #2c3e50 1px dashed;
    border-bottom: #2c3e50 1px dashed;
}

.append-box {
    height: 50px;
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.append-input {
    height: 30px;
    width: 110px;
    border: #2c3e50 1px solid;
    border-radius: 30px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    transition: all .2s linear;
}

.append-input::placeholder {
    text-align: center;
}

.append-input:focus {
    box-shadow: #2c3e50 0 0 5px 2px;
}

.append-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #2c3e50 1px solid;
    cursor: pointer;
    margin: 10px;
    transition: all .2s linear;
}

.append-btn:hover {
    color: white;
    background: #2c3e50;
}

.msg {
    width: 185px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    background: #2c3e50;
    margin-left: 500px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .2s linear;
}

.side-bar-line {
    height: 1px;
    width: 80%;
    border-radius: 10px;
    background: #2c3e50;
    margin-top: 10px;
    margin-bottom: 20px;
}

.refresh-list-btn-box {
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: calc(100% - 45px);
    border-radius: 8px;
    border: #2c3e50 1px solid;
    transition: all .2s linear;
}

.refresh-list-btn-box:hover {
    color: white;
    background: #2c3e50;
}

.refresh-list-btn {
    width: 20px;
    height: 20px;
    transition: all .2s linear;
}

.list-scroll {
    min-height: calc(100% - 80px - 50px - 10px - 10px - 20px - 1px);
    height: calc(100% - 80px - 50px - 10px - 10px - 20px - 1px);
    max-height: calc(100% - 80px - 50px - 10px - 10px - 20px - 1px);
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.list {
    min-height: 200px;
    height: auto;
    width: 100%;
    position: relative;
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 0;
    gap: 5px;
}

 .up {
     height: 50px;
     width: 90%;
     border-radius: 50px;
     position: relative;
     list-style: none;
     border: #2c3e50 1px solid;
     display: inline-flex;
     justify-content: space-evenly;
     align-items: center;
     cursor: pointer;
     transition: all .2s linear;
     animation-name: fadeIn;
     animation-duration: .5s;
     animation-timing-function: linear;
     animation-delay: 0s;
     animation-iteration-count: 1;
     animation-direction: normal;
     overflow: hidden;
 }

.up:hover, .up-active {
    color: white;
    background: #2c3e50;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.delete-up {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    opacity: 0;
    z-index: -999;
    transition: opacity .2s linear, z-index .2s, background .1s linear;
}

.up:hover .delete-up {
    opacity: 100%;
    z-index: 0;
}

.delete-up:hover {
    background: #fa4a4a;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.name {
    min-width: 80px;
    max-width: 80px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}