.status-bar {
    width: 100%;
    height: 30px;
    background: #2c3e50;
    color: white;
    border-radius: 0 0 10px 10px;
    z-index: 999;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.version, .new-version {
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
    transition: all .1s linear;
}

.version {
    border-radius: 0 0 0 10px;
}

.new-version {
    border-radius: 0 0 10px 0;
}

.new-version:hover {
    background: #17222a;
    cursor: pointer;
}